/* === LOGIN PAGE === */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
    padding: 2rem;
    background-color: #fff;
  }
  
  .login-left {
    max-width: 400px;
    text-align: left;
  }
  
  .login-left img {
    max-width: 400px;
    margin-bottom: 0.1rem;
  }
  
  .login-left p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #333;
  }
  
  .login-left .highlight {
    color: #bb77c6;
  }
  
  .login-right {
    width: 400px;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .login-right h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .login-right h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #5e2ca5;
    margin: 0.5rem auto;
  }
  
  .login-right input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
  }
  
  .login-btn {
    position: relative;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    border-radius: 999px;
    background: white;
    color: black;
    z-index: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    border: none;
  }
  
  .login-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(to right, #909BFF, #e5b5dc);
    border-radius: inherit;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    transition: opacity 0.4s ease;
    opacity: 1;  }
  
    .login-btn:hover {
      background: linear-gradient(to right, #909BFF, #e5b5dc);
      color: white;
    }
    
    .login-btn:hover::before {
      opacity: 0;
    }
    
  
  .forgot {
    font-size: 0.85rem;
    color: #5e2ca5;
    text-decoration: none;
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  